<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div>
        <label >Secret Password</label>
        <input type="text" class="form-control" [(ngModel)]="password">
        <p>Your secrect password is {{ password }}</p>
      </div>
      <!-- Forma 1º toggle -->
      <div class="my-3">
        <button class="btn btn-primary" (click)="showSecret1 = !showSecret1">Display Details 1</button>
        <p *ngIf="showSecret1">Your secrect password is correct</p>
      </div>
      <!-- Forma 2 toggle -->
      <div class="my-3">
        <button class="btn btn-primary" (click)="onToggleShowSecret()">Display Details 2</button>
        <p *ngIf="showSecret2">Your secrect password is correct</p>
      </div>
      <!-- Agregar -->
      <div class="my-3">
        <button class="btn btn-primary" (click)="onAddNumber()">Add number</button>
        <div
          *ngFor="let logItem of log"
          [ngStyle]="{backgroundColor: logItem >= 5 ? 'rgb(77, 77, 236)' : 'transparent'}"
          [ngClass]="{'white-text': logItem >= 5}"
          >{{ logItem }}</div>
      </div>
    </div>
  </div>
</div>

